@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-serif font-bold;
  }
  h2 {
    @apply font-medium;
  }
}

/* Remove default margin */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Same as header height */
}
