@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #hero-title h1 {
    @apply font-serif text-6xl font-light;
    font-family: system-ui!important;
  }

  footer h1 {
    font-size: 3em;
    font-family: 'Nove', sans-serif!important;
  }
}

/* Remove default margin */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Same as header height */
}
